@model BusinessLogicObject.User

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery.validate.js"></script>
@using (Html.BeginForm())
{
    <div class="container">
        <div class="card">
            <div class="card-body">
                <form id="validationForm">
                    <div class="form-group">
                        @Html.LabelFor(model => model.firstName)
                        <div>
                            @Html.EditorFor(model => model.firstName)
                            @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

